name: Bash File Test

on:
  push:
    branches:
      - main
env:
  #BASHFILE_ENV: ${{ secrets.BASH_SHELL_SF_DEV}}
  BASHFILE_ENV: sfproperties.sh

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Fetch code
        run: |
          pwd 
          ls -l
      - name: Trigger bash shell
        run: |
          cat ${BASHFILE_ENV} > ~/.bashrc
          cat ~/.bashrc