name: Bash File Test

on:
  push:
    branches:
      - main
env:
  BASHFILE_ENV: "sfproperties.sh"

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: payload
        run: echo ${{ github.event.client_payload.env }}
      - name: List Files
        run: |
          ./${BASHFILE_ENV}

