name: Bash File Test

on:
  push:
    branches:
      - main
env:
  BASHFILE_ENV_DEV: sfproperties.sh
  DIR_SYS_WIDE_LINUX: /etc/profile.d


jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Fetch code
        run: |
          pwd 
          ls -l
      - name: Trigger bash shell
        run: |
          sudo mv ${BASHFILE_ENV_DEV} ${DIR_SYS_WIDE_LINUX}
          chmod 777 $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV
          source $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV
          echo $PSQL_JDBC_URL
      - name: Access Variable Last Step 
        run: |
          ls -l /etc/profile.d/
          source /etc/profile.d/$BASHFILE_ENV_DEV
          echo $PSQL_JDBC_URL