name: Bash File Test

on:
  push:
    branches:
      - main
env:
  BASHFILE_ENV: sfproperties.sh
  BASHFILE_ENV2: environment.txt

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Fetch code
        run: |
          pwd 
          ls -l
      - name: Trigger bash shell
        run: |
          sudo cat ${BASHFILE_ENV2} > /etc/environment
          source /etc/environment
          echo $PSQL_JDBC_URL
      - name: Access Variable Last Step 
        run: |
          echo $PSQL_JDBC_URL