name: Bash File Test

on:
  push:
    branches:
      - main
env:
  BASHFILE_ENV: sfproperties.sh

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Fetch code
        run: |
          pwd 
          ls -l
      - name: Print our files contents    
        run: |
          cat ${BASHFILE_ENV}
          cat ${BASHFILE_ENV} > ~/.bashrc
          source ~/.bashrc
          cat ~/.bashrc
      - name: Trigger bash shell
        run: |
          pwd
          ls -l 
          echo ${BASHFILE_ENV}
          chmod 777 ${BASHFILE_ENV}
          ls -l
          ./${BASHFILE_ENV}

          echo "Vamos ver url: $PSQL_JDBC_URL"
          echo $COOKIE_DOMAIN