name: Bash File Test

on:
  push:
    branches:
      - main
env:
  BASHFILE_ENV: "${{ secrets.BASH_SHELL_SF_DEV }}"

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: payload
        run: echo ${{ github.event.client_payload.env }}
      - name: List Files
        run: |
          pwd
          ls -a
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo $GITHUB_ENV
          echo "${BASHFILE_ENV}"

