name: Bash File Test

on:
  push:
    branches:
      - main
env:
  BASHFILE_ENV: sfproperties.sh

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Fetch code
        run: |
          pwd 
          ls -l
      - name: Trigger bash shell
        run: |
          sudo mv ${BASHFILE_ENV} /etc/profile.d/
          sudo source /etc/profile.d/$BASHFILE_ENV
          echo $PSQL_JDBC_URL
      - name: Access Variable Last Step 
        run: |
          echo $PSQL_JDBC_URL