name: Bash File Test

on:
  push:
    branches:
      - main
env:
  BASHFILE_ENV_DEV: sfproperties.sh
  DIR_SYS_WIDE_LINUX: /etc/profile.d


jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Fetch code
        run: |
          pwd 
          ls -l
      - name: Decrypt file
        run: gpg --quiet --batch --yes --decrypt --pass --passphrase="$PASSPHRASE" --output $HOME/sfproperties.sh system_var_dev_sf.txt.gpg
        env:
          PASSPHRASE: ${{ secrets.PASSPHRASE}}
      - name: Print our files contents    
        run: cat $HOME/sfproperties.sh
      - name: Set up Linux Dev Env Variables
        run: |
          sudo mv ${BASHFILE_ENV_DEV} ${DIR_SYS_WIDE_LINUX}
          chmod 777 $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV
          source $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV
          echo $PSQL_JDBC_URL
      - name: Access Variable Last Step 
        run: |
          source $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV
          echo "Let me see: $PSQL_JDBC_URL"