name: Bash File Test

on:
  push:
    branches:
      - main
env:
  BASHFILE_ENV_DEV: system_var_dev_sf.sh
  DIR_SYS_WIDE_LINUX: /etc/profile.d


jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Fetch code
        run: |
          pwd 
          ls -l
      - name: Decrypt file
        run: sudo gpg --quiet --batch --yes --decrypt --passphrase="$PASSPHRASE" --output $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV system_var_dev_sf.sh.gpg
        env:
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      - name: Print our files contents    
        run: cat $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV
      - name: Set up Linux Dev Env Variables
        run: |
          sudo chmod 777 $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV
          source $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV
          echo $PSQL_JDBC_URL
      - name: Access Variable Last Step 
        run: |
          source $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV
          echo "Let me see: $PSQL_JDBC_URL"
      - name: Generate a Intermediate File for $GITHUB_ENV
        run: |
          sudo sed 's/export //g' $DIR_SYS_WIDE_LINUX/$BASHFILE_ENV_DEV > ${HOME}/intermediate.txt
          sudo sed 's/"|'//g' ${HOME}/intermediate.txt > ${HOME}/intermediate2.txt
          cd ${HOME} 
          cat ${HOME}/intermediate2.txt
      - name: Set the values Intermediate file into $GITHUB_ENV
        run: |
          cat ${HOME}/intermediate2.txt >> $GITHUB_ENV
          echo "${{ env.NTFYHUB_USER_EMAIL }}"
